body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
  margin-top: 150px;
  padding: 0;
  text-align: center;  
}

.buttons {
  display: flex;               
  flex-direction: row;         
  justify-content: center;      
  align-items: center;          
  margin-top: 30px;            
  margin-bottom: 20px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 40px;
}

.move-icon {
  height: 50px;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin: 0 10px;    
  cursor: pointer;
}

.js-score {
  margin-top: 20px;
}

.reset {
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
}
